{% extends "base.html" %}

{% block titulo %}TaskTrack - Iniciar Sesión{% endblock %}

{% block contenido %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card p-4 shadow-sm">
            <h3>Iniciar Sesión</h3>
            {% with messages = get_flashed_messages(category_filter=["login"]) %}
            {% if messages %}
            <div class="alert alert-danger">
                {% for msg in messages %}<p class="m-0">{{ msg }}</p>{% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <form action="/login" method="POST">
                <div class="mb-3">
                    <label>E-mail:</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label>Contraseña:</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-dark w-100 mb-2">Iniciar Sesión</button>
            </form>
            <div class="text-center mt-3">
                <a href="/registro/vista">¿No tienes cuenta? Regístrate</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}